numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
scikit-learn==1.5.1
scikit-learn-intelex==2024.5.0
matplotlib==3.8.4
seaborn==0.13.2
joblib==1.4.2
ipykernel==6.29.5
ipython==8.26.0
notebook==7.2.1
tqdm==4.66.4
gradio==4.44.1
fastapi==0.112.2
starlette==0.38.6
huggingface_hub==0.25.2
pytest==8.3.2
